/* @keyframes appear{
    from{
        opacity:0;
        scale:0.5;
    }to{
        opacity:1;
        scale:1;
    }
} */
.Home-main{
    padding-top:50px;
    width:100vw;
    height:80vh;

    display:flex;
    justify-content:space-evenly;
    align-items:center;
    animation:appear liner;
    animation-timeline:view();
}
.Home-main>h4{
    font-size:20px;
    width:40%;
}
.my-name{
    color:var(--main);
    font-size:4vw;
}
.Home-main>img{
    border-radius:20%;
    border:2px solid rgb(68, 67, 67);
    width:auto;
    height:20vw;
    filter:grayscale(100%);
    transition-duration:1s;
}
.Home-main>img:hover{
    scale:1.3
}
.Home-main>h4>a>button{
    color:var(--main);
    line-height:100%;
    margin-top:3vh;
    padding:10px 20px;
    border:2px solid var(--main);
    border-radius:5px;
    background-color:transparent;
    transition-duration:1s;
}
.Home-main>h4>a>button:hover{
    scale:1.1;
}

.about-main{
    padding:5vh 10vw;
    animation:appear liner;
    animation-timeline:view();
}
.about-main>h1{
    color:var(--main);
    text-decoration:underline;
    text-underline-offset:10px;
}
.about-main>p{
    font-size:18px;
}
.skill-main-1>h1{
    text-align:center;
    color:var(--main);
}
.skill-main{
    padding:5vh 8vw;
    display:flex;
    flex-wrap:wrap;
    gap:5vw;
    align-items:center;
    justify-content:center;
    animation:appear liner;
    animation-timeline:view();
}
.skill-cont{
    border:2px solid var(--main);
    border-radius:10px;
    flex-basis:150px;
    width:150px;
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
.skill-cont>img{
    width:40%;
}
